<div id="video">
	<video controls poster="<%= url_for @video.thumbnail %>" preload="none">
	  <source src="/stream/<%= @video.id %>" type="<%= @video.file.content_type %>">
	</video>

	<div class="video-info">
		<h1 class="video-title"><%= @video.title %></h1>
		<p class="video-subtitle"><%= @video.release %> | <%= @video.genres %></p>
		<p class="video-description"><%= @video.description %></p>
	</div>
</div>