<div id="video">
	<video controls poster="<%= url_for @video.cover_image %>" preload="none">
	  <source src="/stream/<%= @video.id %>" type="<%= @video.file_content_type %>">
	</video>

	<div class="video-info flexi-c r">
		<div class="video-poster">
			<img src="<%= url_for(@video.poster_image) %>">
		</div>

		<div class="flexi-i">
			<h1 class="video-title"><%= @video.title %></h1>
			<p class="video-subtitle"><%= @video.release %> | <%= @video.tag_list %></p>
			<p class="video-description"><%= @video.description %></p>
		</div>
	</div>
</div>